.carouselWrapper {
  width: 100%;
  position: relative;
}

.videoThumbnail {
  position: relative;
  cursor: pointer;
  z-index: 1; // Ensure it is below the modal
}

.thumbnailImageContainer {
  width: 100%;
  height: 250px; /* Fixed height for the container */
  position: relative; /* Ensure the overlay and play icon position correctly */
  overflow: hidden;
  border-radius: 10px; /* Rounded corners */
}

.thumbnailOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.33); /* Lighter transparent overlay */
  z-index: 2; /* Ensure it appears above the image but below play icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the container */
  z-index: 1; /* Image stays below the overlay */
}

.playIconOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Slightly above the overlay */
}

.playIconOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3; /* Above overlay */
  transition: transform 0.5s ease-in-out; /* Slower transition for hover */
}

.playIconOverlay:hover {
  transform: translate(-50%, -50%) scale(1.2); /* Slightly enlarge the icon on hover */
}

.playIcon {
  width: 50px;
  height: 50px;
  animation: pulse 3s infinite ease-in-out; /* Slower pulse animation */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Start at normal size */
  }
  50% {
    transform: scale(1.1); /* Grow slightly */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 700px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  z-index: 1000; // Ensure the modal is always on top
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 4; // Ensure overlay is below the modal but above the content
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 1001; // Ensure the close button is always on top
  padding: 10px;
}

.modalContent {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1000; // Content should remain in front of everything inside the modal
  overflow: hidden;
}
